<mui-tab-switcher (onTabChanged)="tabChanged($event)">
    <mui-label>Preview</mui-label>
    <mui-label>Api</mui-label>
    <mui-label>Code example</mui-label>
</mui-tab-switcher>
<div *ngIf="tabNumber === 0">
    This component is a tabSwitcher <br>
  <mui-tab-switcher>
    <mui-label>Tab1</mui-label>
    <mui-label>Tab2</mui-label>
    <mui-label>Tab3</mui-label>
  </mui-tab-switcher>
</div>

<div *ngIf="tabNumber === 1">
    <div>
        <h5>Selector:</h5>
        &lt;mui-tab-switcher&gt;
        <h5>Properties:</h5>
    </div>
    <table>
        <tr>
            <th>Property name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>@Output() onTabChanged</td>
            <td>Emit number of tab when it was clicked</td>
        </tr>
    </table>
</div>

<div *ngIf="tabNumber === 2">
  <pre>
    &lt;mui-tab-switcher&gt;
      &lt;mui-label>Tab1&lt;/mui-label&gt;
      &lt;mui-label>Tab2&lt;/mui-label&gt;
      &lt;mui-label>Tab3&lt;/mui-label&gt;
    &lt;/mui-tab-switcher&gt;
  </pre>

</div>

