<mui-tab-switcher (onTabChanged)="tabChanged($event)">
    <mui-label>Preview</mui-label>
    <mui-label>Api</mui-label>
    <mui-label>Code example</mui-label>
</mui-tab-switcher>
<div *ngIf="tabNumber === 0">
    This component is a checkbox <br>
    <mui-checkbox>Test</mui-checkbox>
</div>

<div *ngIf="tabNumber === 1">
    <div>
        <h5>Selector:</h5>
        &lt;mui-checkbox&gt;
        <h5>Properties:</h5>
    </div>
    <table>
        <tr>
            <th>Property name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>@Input() disabled</td>
            <td>Whether the component is disabled. By default is false</td>
        </tr>
        <tr>
            <td>@Input() indeterminate</td>
            <td>Whether the checkbox is indeterminate. By default is false</td>
        </tr>
    </table>
</div>

<div *ngIf="tabNumber === 2">
    &lt;mui-checkbox&gt;Test&lt;/mui-checkbox&gt;
</div>

