.mui-select-main-box {
  position: relative;
  width: 400px;
}

.mui-select-box {
  width: 100%;
  background-color: white;
  height: 40px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.mui-select-box-error {
  border: 1px solid red;
}

.mui-options-box {
  width: 100%;
  position: absolute;
  top: 50px;
  z-index: 101;
  max-height: 210px;
  overflow-y: auto;
  overflow-x: hidden;
}

.mui-select-text-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  width: 85%;
}

.mui-select-icon-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
}

.mui-select-text-box div {
  margin-left: 10px;
}

.mui-chosen-option span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.blocker {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  background: rgba(0,0,0,0);
}

.mui-select-disabled {
  color: #999999;
}

::ng-deep .margin-left {
  margin-left: 10px;
}

::ng-deep mui-select {
  display: inline-block;
}

::ng-deep .mui-label-font div span {
  font-size: 14px;
}

::ng-deep .mui-label-error div span {
  color: #D11D1D;
}

mui-select {
  display: inline-block;
}

.mui-autocomplete input{
  border: 0;
  width: 100%;
  height: 16px;
  outline-width: 0;
  line-height: normal;
  font-size: 14px;
  margin-left: 0;
  padding-left: 0;
}





