<div class="blocker" (click)="onFocusOut()" *ngIf="isOpen"></div>
<div class="mui-select-main-box" [ngStyle]="{'width': width}">
  <div class="mui-select-box" (click)="setStatus(true)"
       [ngClass]="{'mui-select-box-error': (!!(!isOpen && control.invalid && ((control.formDirective && control.formDirective.submitted) || control.touched))) ||
       autocomplete && !optionsContainer.firstChild}">
    <div class="mui-select-text-box">
      <div #labelContainer [ngClass]="{'mui-label-font': !(viewValue || (autocomplete && isOpen)),
      'mui-label-error': !!(!isOpen && control.invalid && ((control.formDirective && control.formDirective.submitted) || control.touched))}"></div>
      <div class="mui-chosen-option" [ngClass]="{'mui-select-disabled': isDisabled}" *ngIf="!autocomplete">
        <span>
          {{viewValue}}
        </span>
      </div>
      <div class="mui-autocomplete" *ngIf="(autocomplete && isOpen) || (autocomplete && viewValue)">
        <input #input [value]="viewValue" (input)="filterOptions()" />
      </div>
    </div>
    <div class="mui-select-icon-box" *ngIf="!isDisabled">
      <mui-icon *ngIf="!isOpen">drop</mui-icon>
      <mui-icon *ngIf="isOpen">rollup</mui-icon>
    </div>
  </div>
  <div class="mui-options-box" #optionsContainer [ngStyle]="{'display': isOpen ? 'block' : 'none'}">
  </div>
  <ng-content></ng-content>
</div>

