.paginator {
  display: flex;
  justify-content: flex-start;
}

.paginator-cell {
  border: 1px solid #bbbbbd;
  width: 40px;
  height: 34px;
  text-align: center;
  background-color: white;
  line-height: 32px;
  cursor: pointer;
}
