<div class="paginator">
  <div (click)="onClick(currentPage - 1)" disabled="currentPage === 0" class="paginator-cell"  
  [ngStyle]="{'color': currentPage === 0 ? 'grey' : 'black', 'pointer-events': currentPage === 0 ? 'none' : 'all'}">
    <
  </div>
  <div (click)="onClick(0)" *ngIf="currentPage > this.paginatorSize / 2 && count > paginatorSize"
       class="paginator-cell">
    1
  </div>
  <div (click)="onClick(1)" *ngIf="pages[0] === 2 && count > paginatorSize" class="paginator-cell">
    2
  </div>
  <div *ngIf="currentPage > this.paginatorSize / 2 + 2 && count > paginatorSize && pages[0] !== 2"
       class="paginator-cell">
    ...
  </div>
  <ng-container *ngFor="let index of pages">
    <div (click)="onClick(index)"
         [ngStyle]="{'background-color': index === currentPage ? '#bbbbbd' : '#ffffff', 'color': index === currentPage ? 'white' : 'black'}"
         class="paginator-cell">
      {{index + 1}}
    </div>
  </ng-container>
  <div
    *ngIf="count - 1 - currentPage > this.paginatorSize / 2 + 2 && count > paginatorSize && pages[pages.length - 1] !== count - 3"
    class="paginator-cell">
    ...
  </div>
  <div (click)="onClick(count - 2)" *ngIf="pages[pages.length - 1] === count - 3 && count > paginatorSize"
       class="paginator-cell">
    {{count - 1}}
  </div>
  <div (click)="onClick(count - 1)" *ngIf="count - 1 - currentPage > this.paginatorSize / 2 && count > paginatorSize"
       class="paginator-cell">
    {{count}}
  </div>
  <div (click)="onClick(currentPage + 1)" disabled="currentPage === count - 1" class="paginator-cell"
  [ngStyle]="{'color': currentPage === count - 1 ? 'grey' : 'black', 'pointer-events': currentPage === count - 1 ? 'none' : 'all'}">
    >
  </div>

</div>
