<mui-tab-switcher (onTabChanged)="tabChanged($event)">
    <mui-label>Preview</mui-label>
    <mui-label>Api</mui-label>
    <mui-label>Code example</mui-label>
</mui-tab-switcher>
<div *ngIf="tabNumber === 0">
    This component is a checkbox <br>
    <mui-select [(ngModel)]="value">
        <mui-label>Test select</mui-label>
        <mui-option value="option1">Option 1</mui-option>
        <mui-option value="option2">Option 2</mui-option>
        <mui-option value="option3">Option 3</mui-option>
    </mui-select>
</div>

<div *ngIf="tabNumber === 1">
    <div>
        <h5>Selector:</h5>
        &lt;mui-select&gt;
        <h5>Properties:</h5>
    </div>
    <table>
        <tr>
            <th>Property name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>@Input() disabled</td>
            <td>Whether the component is disabled. By default is false</td>
        </tr>
        <tr>
            <td>@Input() indeterminate</td>
            <td>Whether the checkbox is indeterminate. By default is false</td>
        </tr>
    </table>
</div>

<div *ngIf="tabNumber === 2">
    <pre>
    &lt;mui-select [(ngModel)]="value"&gt;
        &lt;mui-label&gt;Test select&lt;/mui-label&gt;
        &lt;mui-option value="option1"&gt;Option 1&lt;/mui-option&gt;
        &lt;mui-option value="option2"&gt;Option 2&lt;/mui-option&gt;
        &lt;mui-option value="option3"&gt;Option 3&lt;/mui-option&gt;
    &lt;/mui-select&gt;
    </pre>
</div>

