<div [id]="id + '_menu'"
     [style.width]="width + 'px'"
     [style.left]="left + 'px'"
     [style.top]="top + 'px'"
     class="rangepicker-calendar"
     [ngSwitch]="rangepickerService.view">
    <app-calendar-header></app-calendar-header>
    <mui-rangepicker-days-view *ngSwitchCase="CALENDAR_VIEW?.DAY"></mui-rangepicker-days-view>
    <mui-rangepicker-months-view *ngSwitchCase="CALENDAR_VIEW?.MONTH"
                                 [date]="rangepickerService?.range?.dateFrom"
                                 [rows]="rangepickerService?.rows"
                                 [months]="months"
                                 (cellClick)="onMonthViewClick($event)"></mui-rangepicker-months-view>
    <mui-rangepicker-year-view *ngSwitchCase="CALENDAR_VIEW?.YEAR"
                               [rows]="rangepickerService?.rows"
                               [date]="rangepickerService?.range?.dateFrom"
                               (cellClick)="onYearViewClick($event)"></mui-rangepicker-year-view>
</div>