<table class="rangepicker-table" aria-hidden="true">
    <thead>
        <tr class="rangepicker-table-divider">
            <th id="rangepicker-table-th_month-view" class="rangepicker-table-th_month-view"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows">
            <ng-container *ngFor="let cell of row">
                <td class="rangepicker-table-cell"
                    [ngClass]="{'rangepicker-table-cell-today': _isToday(cell.compareValue),
                                'rangepicker-table-range-start': _isRangeStart(cell.compareValue)}"
                    [style.width]="_cellWidth"
                    [style.paddingTop]="_cellPadding"
                    [style.paddingBottom]="_cellPadding"
                    (click)="onCellClick(cell)">
                    <div class="rangepicker-table-cell-content year">{{ months[cell.value] }}</div>
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>