.mui-button {
    background-color: #FFDD00;
    color: #2E2E2E;
    height: 42px;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
}

::ng-deep mui-button .mui-button mui-icon svg{
    margin: 0 5px;
}


.mui-button:hover {
    background-color: #FEED00;
}

.mui-button:focus {outline:0;}

.disabled {
    background-color: #ffeb66;
    color: #999999;
    pointer-events:none;
}

.button-wrapper {
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
