<mui-tab-switcher (onTabChanged)="tabChanged($event)">
    <mui-label>Preview</mui-label>
    <mui-label>Api</mui-label>
    <mui-label>Code example</mui-label>
</mui-tab-switcher>
<div *ngIf="tabNumber === 0">
    This component is a checkbox <br>
    <mui-button (onClicked)="showSnackBarError()">Error</mui-button>
    <mui-button (onClicked)="showSnackBarSuccess()">Success</mui-button>
    <mui-button (onClicked)="showSnackBarInfo()">Info</mui-button>
</div>

<div *ngIf="tabNumber === 1">
    <div>
        <h5>Selector:</h5>
        It is service
        <h5>Properties:</h5>
    </div>
    <table>
        <tr>
            <th>Property name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Method: openErrorSnackBar(massage: string: ms: number: closeBtn: boolean)</td>
            <td>Method that shows error snack bar</td>
        </tr>
        <tr>
          <td>Method: openSuccessSnackBar(massage: string: ms: number: closeBtn: boolean)</td>
          <td>Method that shows success snack bar</td>
        </tr>
        <tr>
          <td>Method: openInfoSnackBar(massage: string: ms: number: closeBtn: boolean)</td>
          <td>Method that shows info snack bar</td>
        </tr>
    </table>
</div>

<div *ngIf="tabNumber === 2">
  this.snackBar.openErrorSnackBar('Test error massage', 5000, true);
</div>

