<mui-tab-switcher (onTabChanged)="tabChanged($event)">
    <mui-label>Preview</mui-label>
    <mui-label>Api</mui-label>
    <mui-label>Code example</mui-label>
</mui-tab-switcher>
<div *ngIf="tabNumber === 0">
    This component is a simple white button <br>
    <mui-button-sec>Test</mui-button-sec>
</div>

<div *ngIf="tabNumber === 1">
    <div>
        <h5>Selector:</h5>
        &lt;mui-button-sec&gt;
        <h5>Properties:</h5>
    </div>
    <table>
        <tr>
            <th>Property name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>@Output() onClicked</td>
            <td>Emits when button was clicked.</td>
        </tr>
        <tr>
            <td>@Input() disabled</td>
            <td>Whether the component is disabled. By default is false</td>
        </tr>
        <tr>
            <td>@Input() width</td>
            <td>Shows button with, by default 'auto'</td>
        </tr>
        <tr>
            <td>@Input() type</td>
            <td>Shows button status, by default 'button'</td>
        </tr>
    </table>
</div>

<div *ngIf="tabNumber === 2">
    &lt;mui-button-sec&gt;Test&lt;/mui-button-sec&gt;
</div>

