mui-input:host {
  display: inline-block;
  /* '(mouseenter)': 'onMouseEnter()', */
}

:host ::ng-deep div .mui-input {
  border: 0;
  width: 100%;
  height: 16px;
  outline-width: 0;
  line-height: normal;
  font-size: 14px;
  margin-left: 12px;
  /*margin-bottom: 7px;*/
}

:host {
  outline:none;
}

.mui-input-border {
  border: 1px solid #D9D9D9;
  display: inline-block;
  width: 280px;
  height: 42px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: white;
}

.mui-input-border-error {
  border-color: #D11D1D;
}

.mui-input-border-focus {
  border-color: #FFDD00;
}

.mui-input-disabled {
  background-color: #F5F5F5;
}

.mui-input-disabled input:disabled {
  background-color : #F5F5F5;
}

.mui-input-error ::ng-deep input {
  color: #D11D1D;
}

.mui-label {
  margin-left: 12px;
  /*margin-top: 6px;*/
}

.mui-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.mui-flex-container-row {
  display: flex;
}

.mui-icon {
  margin-top: 7px;
  margin-left: 5px;
}

.mui-icon-sec {
  margin-top: 10px;
  margin-left: 5px;
}


::ng-deep .mui-label-font-input div span {
  font-size: 14px;
}

::ng-deep .mui-label-error div span {
  color: #D11D1D;
}
