<div class="mui-input-border mui-flex-container-row" (focusout)="setFocus(false)" (click)="setFocus(true)"
  [ngClass]="{'mui-input-border-error': (control.invalid && ((control.formDirective && control.formDirective.submitted) || control.touched)),
  'mui-input-border-focus': focus, 'mui-input-disabled': disabled}"
  [ngStyle]="{'width': width}">
  <div class="mui-icon" #iconContainer></div>
  <div class="mui-flex-container">
    <div class="mui-label" [ngClass]="{'mui-label-font-input': !(focus || viewValue)}" #labelContainer></div>
    <div [ngStyle]="{'display': focus || viewValue ? 'block' : 'none'}" (keyup)="updateValue()" #inputContainer
         [ngClass]="{'mui-input-error': (control.invalid && ((control.formDirective && control.formDirective.submitted) || control.touched))}">
    </div>
  </div>
  <div class="mui-icon-sec" *ngIf="clearBtn" (click)="clearValue()">
    <mui-icon>close</mui-icon>
  </div>
</div>
<ng-content></ng-content>
