<div *ngIf="visible" class="mui-notify-wrapper" [ngStyle]="{'background': newBcgColor.replace ? newBcgColor.value: ''}">
  <div class="mui-notify-icon">
    <mui-icon>{{icon}}</mui-icon>
  </div>
  <div class="mui-notify-content">
    <ng-content></ng-content>
  </div>
</div>
