.mui-notify-wrapper {
  display: flex;
  background: var(--c-warn-700, #EB6826);
  align-items: center;
  border-radius: 3px;
  min-height: 60px;

}

.mui-notify-wrapper >* {
  color: var(--c-main, white);
  fill: var(--c-main, white);
}

.mui-notify-wrapper .mui-notify-icon {
  padding: 12px;
}

.mui-notify-wrapper .mui-notify-content{
  padding: 12px 0;
  font-size: var(--text-m, 14px);
  max-width: 800px;

}
