<div class="blocker" (click)="calendarBodyService.onToggle()" *ngIf="calendarBodyService.isToggle"></div>
<div class="rangepicker-wrap">
    <div class="rangepicker"
         [style.width]="width + 'px'"
         [id]="id"
         [ngClass]="{'rangepicker-error': isError, 'rangepicker-focused': isFocused, 'rangepicker-disabled': isDisabled}">
        <div class="rangepicker-label" #labelContainer [ngClass]="{'mui-label-error': isError}"></div>
        <div class="rangepicker-date_start" #dateFrom>
            <ng-content select="input[MuiStartDate]"></ng-content>
        </div>
        <span class="rangepicker-separator">–</span>
        <div class="rangepicker-date_end" #dateTo>
            <ng-content select="input[MuiEndDate]"></ng-content>
        </div>
        <div class="rangepicker-icon"
             (click)="calendarBodyService.onToggle()"
             [ngClass]="{'rangepicker-icon-disabled': isDisabled}">
            <mui-icon>drop</mui-icon>
        </div>
    </div>
</div>
