.rangepicker-wrap {
    position: relative;
}
.rangepicker {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #D9D9D9;
    background-color: #fff;
    height: 42px;
    padding: 14px 12px 0;
    border-radius: 3px;
    outline: none;
}
.rangepicker-focused {
    border-color: #FFDD00;
}
.rangepicker-error {
    border-color: #D11D1D;
}
.rangepicker-disabled {
    background-color: #F5F5F5;
}

.rangepicker input {
    appearance: none;
    border: none;
    outline: none;
}

.rangepicker-date_start, .rangepicker-date_end {
    max-width: 75px;
    width: fit-content;
    color: #2B2D33;
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
}
.rangepicker-icon {
    position: absolute;
    right: 10px;
    top: 6px;
    cursor: pointer;
}

.rangepicker-icon-disabled {
    opacity: .5;
    cursor: default;
    pointer-events: none;
}

.rangepicker-label {
    position: absolute;
    font-size: 12px;
    line-height: 16px;
    color: #737373; 
    left: 12px;
    top: 3px;
}

.rangepicker-calendar {
    box-sizing: border-box;
    height: fit-content;
    user-select: none;
    border-radius: 4px;
    transition: height, opacity .25s ease;
    background-color: #fff;
    position: absolute;
    box-shadow: 0px 10px 30px rgba(46, 46, 46, 0.2);
    padding: 20px 5px;
    pointer-events: all;
}

.rangepicker-separator {
    font-size: 14px;
    margin-right: 2px;
    display: block;
}

.blocker {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,0);
}

.rangepicker-wrap.open .rangepicker-calendar {
    visibility: visible;
    opacity: 1;
}

.rangepicker-table {
    padding: 0 8px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.rangepicker-table th {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #737373;
    padding: 10px 0;
}
.rangepicker-table tbody {
    position: relative;
    top: 10px;
}
.rangepicker-table-divider::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #e8e8e8;
    position: absolute;
    left: 0;
}
.rangepicker-table-cell {
    font-weight: normal;
    font-size: 12px;
    color: #2e2e2e;
    padding: 10px 0;
    position: relative;
    height: 0;
    line-height: 0;
    text-align: center;
    outline: none;
}

.rangepicker-table-cell-content {
    top: 5%;
    left: 5%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 4px;
    position: absolute;
}

.rangepicker-table-cell:hover:not(.rangepicker-table-cell.hidden) .rangepicker-table-cell-content, 
.rangepicker-table-range-start .rangepicker-table-cell-content, .rangepicker-table-range-end .rangepicker-table-cell-content {
    background-color: #FFDD00;
    cursor: pointer;
}

.rangepicker-table-cell-today .rangepicker-table-cell-content {
    border-color: #FFDD00;
}
.rangepicker-table-cell-in-range.rangepicker-table-cell::before {
    background: #FFF9A8;
}
.rangepicker-table-cell-in-range.rangepicker-table-range-start.rangepicker-table-cell::before  {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.rangepicker-table-cell-in-range.rangepicker-table-range-end.rangepicker-table-cell::before  {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.rangepicker-table-cell::before, .rangepicker-table-cell::after, .rangepicker-table-cell-preview {
    content: '';
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 0;
    box-sizing: border-box;
    height: 90%;
    width: 100%;

}
.rangepicker-table-cell.rangepicker-table-range::before {
    background-color: #FFF9A8;
}
.rangepicker-table-cell-in-preview .rangepicker-table-cell-preview, 
.rangepicker-table-cell-preview-start .rangepicker-table-cell-preview,
.rangepicker-table-cell-preview-end .rangepicker-table-cell-preview {
    border-top: 1px #ccc dashed;
    border-bottom: 1px #ccc dashed;
}

.rangepicker-table-cell-preview-start .rangepicker-table-cell-preview {
    border-left: 1px #ccc dashed;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.rangepicker-table-cell-preview-end .rangepicker-table-cell-preview {
    border-right: 1px #ccc dashed;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}