/* The container */
.cb-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 22px;
}

/* Hide the browser's default checkbox */
.cb-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.mui-checkmark {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: var(--c-main, white);
  border: 1px solid var(--c-sec-300, #D9D9D9);
  border-radius: 2px;

}

/* On mouse-over, add a grey background color */
.cb-container:hover input ~ .mui-checkmark {
  background-color: var(--c-main, white);
}

/* When the checkbox is checked, add a blue background */
.cb-container input:checked ~ .mui-checkmark {
  background-color: var(--c-accent-a400, #FFDD00);
  border-color: var(--c-accent-a400, #FFDD00);
}

/* When the checkbox is indeterminated, add a blue background */
:host label.mui-checkbox-indeterminate.cb-container span.mui-checkmark {
  background-color: var(--c-main, white);
  border-color: var(--c-sec-300, #D9D9D9);
}

/* Create the mui-checkmark/indicator (hidden when not checked) */
.mui-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the mui-checkmark when checked or indeterminate*/
.cb-container input:checked ~ .mui-checkmark:after {
  display: block;
}

.cb-container input:checked ~ .mui-checkmark:after {
  display: block;
}

/* Style the mui-checkmark/indicator */
.mui-checkbox.cb-container .mui-checkmark:after {
  left: 8px;
  top:4px;
  width: 5px;
  height: 11px;
  border: solid #2E2E2E;
  border-radius: 1px;

  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.mui-checkbox-indeterminate.cb-container .mui-checkmark:after {
  left: 5px;
  top: 5px;
  width: 12px;
  height: 12px;
  background: var(--c-accent-a400, #FFDD00);
  border-radius: 2px;
}
