<label class="cb-container" [ngClass]="{'mui-checkbox-indeterminate' : !!indeterminate, 'mui-checkbox' : !indeterminate}">
  <input type="checkbox" [checked]="checked" [indeterminate]="indeterminate" (change)="onChanged($event)" [disabled]="disabled">
  <span class="mui-checkmark"></span>
</label>
