<button [ngClass]="{'mui-button': true, 'disabled': disabled}" [ngStyle]="{'width': width}" (click)="onClick()" [type]="type">
  <span class="button-wrapper"><ng-content></ng-content></span>
</button>
