.mui-option {
  /*width: 100%;*/
  background-color: white;
  height: 40px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  cursor: pointer;
}
.mui-option span {
  margin-left: 10px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mui-option:hover {
  background-color: #F5F5F5;
}
