.header {
    width: 100%;
    background-color: azure;
    height: 40px;
    font-size: 26px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: start;
    width: 100%;
    flex-direction: row;
}

.menu {
    width: 20%;
    background-color: antiquewhite;
    cursor: pointer;
}

.menu > div {
    height: 30px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
}

.component {
    width: 80%;
    background-color: beige;
}