<div class="header">mui UI Components</div>
<div class="container">
  <section class="menu">
    <div routerLink="/mui-button" routerLinkActive="active">Button</div>
    <div routerLink="/mui-button-nav" routerLinkActive="active">Navigation button</div>
    <div routerLink="/mui-button-sec" routerLinkActive="active">White button</div>
    <div routerLink="/mui-button-sec-nav" routerLinkActive="active">White navigation button</div>
    <div routerLink="/mui-checkbox" routerLinkActive="active">Checkbox</div>
    <div routerLink="/mui-icon" routerLinkActive="active">Icon</div>
    <div routerLink="/mui-input" routerLinkActive="active">Input</div>
    <div routerLink="/mui-notify" routerLinkActive="active">Notify</div>
    <div routerLink="/mui-paginator" routerLinkActive="active">Paginator</div>
    <div routerLink="/mui-select" routerLinkActive="active">Select</div>
    <div routerLink="/mui-snack-bar" routerLinkActive="active">Snack bar</div>
    <div routerLink="/mui-tab-switcher" routerLinkActive="active">Tab switcher</div>
    <div routerLink="/mui-permission-directive" routerLinkActive="active">Permissin directive</div>
    <div routerLink="/mui-rangepicker" routerLinkActive="active">Rangepicker</div>

  </section>
  <section class="component">
    <router-outlet></router-outlet>
  </section>
</div>