<mui-tab-switcher (onTabChanged)="tabChanged($event)">
    <mui-label>Preview</mui-label>
    <mui-label>Api</mui-label>
    <mui-label>Code example</mui-label>
</mui-tab-switcher>
<div *ngIf="tabNumber === 0">
    This component is a input <br>
    It is able to use with other libriaries<br>
    Full support for ReactiveFormModule<br>
    <mui-input [(ngModel)]="value" >
        <mui-label>Test input</mui-label>
        <input muiInput />
    </mui-input>
</div>

<div *ngIf="tabNumber === 1">
    <div>
        <h5>Selector:</h5>
        &lt;mui-input&gt;
        <h5>Properties:</h5>
    </div>
    <table>
        <tr>
            <th>Property name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>@Input() isDisabled</td>
            <td>Whether the component is disabled. By default is false</td>
        </tr>
        <tr>
            <td>@Input() width</td>
            <td>Width for input component, 300px by default</td>
        </tr>
        <tr>
            <td>@Input() clearBtn</td>
            <td>Whether the component is show clear button. By default is false</td>
        </tr>
        <tr>
            <td>&lt;input muiInput /&gt;</td>
            <td>Nessesary, it is able to add more directives</td>
        </tr>
        <tr>
            <td>&lt;mui-label&gt;</td>
            <td>Optional, label for an input</td>
        </tr>
        <tr>
            <td>&lt;mui-icon&gt;</td>
            <td>Optional, will be displayed it the left side</td>
        </tr>
    </table>
</div>

<div *ngIf="tabNumber === 2">
    <pre>
        &lt;mui-input [(ngModel)]="value" &gt;
            &lt;mui-label&gt;Test input&lt;/mui-label&gt;
            &lt;input muiInput /&gt;
        &lt;/mui-input&gt;
    </pre>
    
</div>

