<mui-tab-switcher (onTabChanged)="tabChanged($event)">
    <mui-label>Preview</mui-label>
    <mui-label>Api</mui-label>
    <mui-label>Code example</mui-label>
</mui-tab-switcher>
<div *ngIf="tabNumber === 0">
    This component is a icon <br>
    <mui-icon>camera</mui-icon>
</div>

<div *ngIf="tabNumber === 1">
    <div>
        <h5>Selector:</h5>
        &lt;mui-icon&gt;
        <h5>Properties:</h5>
    </div>
    <table>
        <tr>
            <th>Property name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Icon name</td>
            <td>Icon name that has to be displayed</td>
        </tr>
    </table>
    <h5>Icons:</h5>
    <table>
        <tr>
            <th>Name</th>
            <th>Icon</th>
        </tr>
        <tr>
            <td>next</td>
            <td><mui-icon>next</mui-icon></td>
        </tr>
        <tr>
            <td>prev</td>
            <td><mui-icon>prev</mui-icon></td>
        </tr>
        <tr>
            <td>drop</td>
            <td><mui-icon>drop</mui-icon></td>
        </tr>
        <tr>
            <td>rollup</td>
            <td><mui-icon>rollup</mui-icon></td>
        </tr>
        <tr>
            <td>close_m</td>
            <td><mui-icon>close_m</mui-icon></td>
        </tr>
        <tr>
            <td>close_s</td>
            <td><mui-icon>close_s</mui-icon></td>
        </tr>
        <tr>
            <td>success</td>
            <td><mui-icon>success</mui-icon></td>
        </tr>
        <tr>
            <td>check</td>
            <td><mui-icon>check</mui-icon></td>
        </tr>
        <tr>
            <td>check_white</td>
            <td><mui-icon>check_white</mui-icon></td>
        </tr>
        <tr>
            <td>camera</td>
            <td><mui-icon>camera</mui-icon></td>
        </tr>
        <tr>
            <td>qr</td>
            <td><mui-icon>qr</mui-icon></td>
        </tr>
        <tr>
            <td>print</td>
            <td><mui-icon>print</mui-icon></td>
        </tr>
        <tr>
            <td>delete</td>
            <td><mui-icon>delete</mui-icon></td>
        </tr>
        <tr>
            <td>info</td>
            <td><mui-icon>info</mui-icon></td>
        </tr>
        <tr>
            <td>info_white</td>
            <td><mui-icon>info_white</mui-icon></td>
        </tr>
        <tr>
            <td>add</td>
            <td><mui-icon>add</mui-icon></td>
        </tr>
        <tr>
            <td>warning</td>
            <td><mui-icon>warning</mui-icon></td>
        </tr>
        <tr>
            <td>warning_orange</td>
            <td><mui-icon>warning_orange</mui-icon></td>
        </tr>
        <tr>
            <td>warning_white</td>
            <td><mui-icon>warning_white</mui-icon></td>
        </tr>
        <tr>
            <td>eye</td>
            <td><mui-icon>eye</mui-icon></td>
        </tr>
        <tr>
            <td>send</td>
            <td><mui-icon>send</mui-icon></td>
        </tr>
        <tr>
            <td>update</td>
            <td><mui-icon>update</mui-icon></td>
        </tr>
        <tr>
            <td>download</td>
            <td><mui-icon>download</mui-icon></td>
        </tr>
        <tr>
            <td>search</td>
            <td><mui-icon>search</mui-icon></td>
        </tr>
        <tr>
            <td>phone_unverified</td>
            <td><mui-icon>phone_unverified</mui-icon></td>
        </tr>
        <tr>
            <td>phone_verified</td>
            <td><mui-icon>phone_verified</mui-icon></td>
        </tr>
        <tr>
            <td>doc_unsigned</td>
            <td><mui-icon>doc_unsigned</mui-icon></td>
        </tr>
        <tr>
            <td>erase</td>
            <td><mui-icon>erase</mui-icon></td>
        </tr>
        <tr>
            <td>edit</td>
            <td><mui-icon>edit</mui-icon></td>
        </tr>
        <tr>
            <td>blocked</td>
            <td><mui-icon>blocked</mui-icon></td>
        </tr>
        <tr>
            <td>unblocked</td>
            <td><mui-icon>unblocked</mui-icon></td>
        </tr>
        <tr>
            <td>cross_red</td>
            <td><mui-icon>cross_red</mui-icon></td>
        </tr>
        <tr>
            <td>close</td>
            <td><mui-icon>close</mui-icon></td>
        </tr>
        <tr>
            <td>check_green</td>
            <td><mui-icon>check_green</mui-icon></td>
        </tr>
    </table>
</div>

<div *ngIf="tabNumber === 2">
    &lt;mui-icon&gt;camera&lt;/mui-icon&gt;
</div>

