<mui-tab-switcher (onTabChanged)="tabChanged($event)">
    <mui-label>Preview</mui-label>
    <mui-label>Api</mui-label>
    <mui-label>Code example</mui-label>
</mui-tab-switcher>
<div *ngIf="tabNumber === 0">
    This component is a example for rangepicker<br>
    <mui-rangepicker [formGroup]="formGroup"
                     lang="ua"
                     [width]="330">
        <mui-label>Select date range</mui-label>
        <input id="date_from" MuiStartDate type="text" formControlName="dateFrom" data-format="**.**.****" data-mask="dd.mm.yyyy">
        <input id="date_to" MuiEndDate type="text" formControlName="dateTo" data-format="**.**.****" data-mask="dd.mm.yyyy">

    </mui-rangepicker>
</div>

<div *ngIf="tabNumber === 1">
    <div>
        <h5>Selector:</h5>
        &lt;mui-rangepicker&gt;
        <h5>Properties:</h5>
    </div>
    <table>
        <tr>
            <th>Property name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>@Input() formGroup</td>
            <td>Pass FormGroup with FromControls which correspond to FormControlName into rangepicker inner inputs</td>
        </tr>
        <tr>
            <td>@Input() width</td>
            <td>Shows rangepicker width, by default '290'</td>
        </tr>
        <tr>
            <td>@Input() lang</td>
            <td>Shows rangepicker language, by default 'ua'</td>
        </tr>
    </table>
</div>

<div *ngIf="tabNumber === 2">
    &lt;mui-rangepicker [formGroup]="formGroup"
                        <br><span style="margin-left: 112px;">[lang]="'ua'"</span>
                        <br><span style="margin-left: 112px;">[width]="330"</span>&gt;
        <p style="margin: 0 0 0 24px">
            &lt;mui-label&gt;Select date range&lt;/mui-label&gt;
            <br>&lt;input id="date_from" MuiStartDate type="text" formControlName="dateFrom" data-format="**.**.****" data-mask="dd.mm.yyyy"&gt;
            <br>&lt;input id="date_to" MuiEndDate type="text" formControlName="dateTo" data-format="**.**.****" data-mask="dd.mm.yyyy"&gt;
        </p>
    &lt;/mui-rangepicker&gt;
</div>

<!-- Will be added soon -->