<div class="mui-snack-bar-container" [@openClose]="isOpen ? 'open' : 'closed'"
     [ngClass]="{'red': type === 'error', 'green': type === 'success', 'info': type === 'info'}">
  <div class="mui-snack-bar-icon-error" *ngIf="type==='error'">
    <mui-icon>warning_white</mui-icon>
  </div>
  <div class="mui-snack-bar-icon-success" *ngIf="type==='success'">
    <mui-icon>check_white</mui-icon>
  </div>
  <div class="mui-snack-bar-icon-info" *ngIf="type==='info'">
    <mui-icon>info_white</mui-icon>
  </div>
  <div class="mui-snack-bar-text">
    <span>{{massage}}</span>
  </div>
  <div class="mui-icon-close" *ngIf="closeButton" (click)="closeSnackBar()">
    <mui-icon>close</mui-icon>
  </div>

</div>
