<table class="rangepicker-table" aria-hidden="true">
    <thead>
        <tr>
            <th [id]="'rangepicker-table-th_' + thId" *ngFor="let day of rangepickerService.getWeekDays(); let thId = index">{{ day }}</th>
        </tr>
        <tr class="rangepicker-table-divider"></tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rangepickerService.rows; let i = index">
            <td class="rangepicker-table-cell hidden"
                [attr.colspan]="rangepickerService.startDay"
                *ngIf="i === 0 && rangepickerService.startDay && rangepickerService.startDay < 7">
            </td>
            <ng-container *ngFor="let cell of row; let j = index">
                <td class="rangepicker-table-cell"
                    *ngIf="cell.value"
                    (click)="onCellClick(cell)"
                    [ngClass]="{'rangepicker-table-range-start': _isRangeStart(cell.compareValue), 
                                'rangepicker-table-range-end': _isRangeEnd(cell.compareValue),
                                'rangepicker-table-cell-today': _isToday(cell.compareValue),
                                'rangepicker-table-cell-in-range': _isInRange(cell.compareValue),
                                'rangepicker-table-cell-in-preview': _isInPreview(cell.compareValue),
                                'rangepicker-table-cell-preview-start': _isPreviewStart(cell.compareValue),
                                'rangepicker-table-cell-preview-end': _isPreviewEnd(cell.compareValue)}"
                    [style.width]="_cellWidth"
                    [style.paddingTop]="_cellPadding"
                    [style.paddingBottom]="_cellPadding"
                    (mouseover)="_previewEnd = cell.compareValue"
                    (mouseout)="_previewEnd = 0">
                    <div class="rangepicker-table-cell-content">{{ cell.value }}</div>
                    <div class="rangepicker-table-cell-preview"></div>
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>