.mui-button {
    background-color: #ffffff;
    color: #2E2E2E;
    height: 42px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    border-radius: 3px;
}

::ng-deep mui-button-sec .mui-button mui-icon svg{
  margin: 0 5px;
}

.mui-button:hover {
    border: 1px solid #BFBFBF;
}

.mui-button:focus {outline:0;}

.disabled {
    border: 1px solid #D9D9D9;
    color: #999999;
    pointer-events:none;
}


.button-wrapper {
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
