:host  {
  display: inline-block;
}

div {
  display: inline-block;
  border-bottom: 1px solid #E8E8E8;
  cursor: pointer;
  padding: 6px 10px 8px;
}

:host div.active {
  border-bottom: 1px solid grey;
}

:host div.active ::ng-deep mui-label ::ng-deep .mui-label {
  color: #2E2E2E;
}

div ::ng-deep mui-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #2E2E2E;
}



