
<div class="rangepicker-calendar-header">
    <div class="rangepicker-calendar-header-select" (click)="onChangeView()">
        <h5 class="rangepicker-calendar-header-select-text">{{ periodButtonText }}</h5>
        <mui-icon>drop</mui-icon>
    </div>

    <div class="rangepicker-calendar-header-nav">
        <mui-icon (click)="onChangePeriod(-1)">prev</mui-icon>
        <mui-icon (click)="onChangePeriod(1)">next</mui-icon>
    </div>
</div>