.rangepicker-calendar-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

}
.rangepicker-calendar-header-nav {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.rangepicker-calendar-header-nav mui-icon {
    border-radius: 50%;
}
.rangepicker-calendar-header-select {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 0 12px;
    height: 42px;
}
.rangepicker-calendar-header-select:hover, .rangepicker-calendar-header-nav mui-icon:hover {
    background-color: #F5F5F5;
}

.rangepicker-calendar-header-select-text {
    font-size: 14px;
    line-height: 18px;
}