<mui-tab-switcher (onTabChanged)="tabChanged($event)">
    <mui-label>Preview</mui-label>
    <mui-label>Api</mui-label>
    <mui-label>Code example</mui-label>
</mui-tab-switcher>
<div *ngIf="tabNumber === 0">
    This component is a big notify component <br>
  <mui-notify>Some text</mui-notify>
</div>

<div *ngIf="tabNumber === 1">
    <div>
        <h5>Selector:</h5>
        &lt;mui-notify&gt;
        <h5>Properties:</h5>
    </div>
    <table>
        <tr>
            <th>Property name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>@Input() visible</td>
            <td>Whether the component is visible. By default is true</td>
        </tr>
        <tr>
            <td>@Input() icon</td>
            <td>Icon in component. By default is warning</td>
        </tr>
        <tr>
            <td>@Input() background</td>
            <td>It is possible to change default color</td>
        </tr>
    </table>
</div>

<div *ngIf="tabNumber === 2">
    &lt;mui-notify&gt;Test&lt;/mui-notify&gt;
</div>

