<mui-tab-switcher (onTabChanged)="tabChanged($event)">
    <mui-label>Preview</mui-label>
    <mui-label>Api</mui-label>
    <mui-label>Code example</mui-label>
</mui-tab-switcher>
<div *ngIf="tabNumber === 0">
    This component is a paginator <br>
    <mui-paginator></mui-paginator>
</div>

<div *ngIf="tabNumber === 1">
    <div>
        <h5>Selector:</h5>
        &lt;mui-paginator&gt;
        <h5>Properties:</h5>
    </div>
    <table>
        <tr>
            <th>Property name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Method: pageCount(n: number): void</td>
            <td>Use it to set count of pages</td>
        </tr>
        <tr>
            <td>Subscription onPageChange</td>
            <td>Subscription that emit current page was chosen</td>
        </tr>
    </table>
</div>

<div *ngIf="tabNumber === 2">
    &lt;mui-paginator&gt;Test&lt;/mui-paginator&gt;
</div>

